@import '../node_modules/modern-normalize/modern-normalize.css';
@import './css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@font-face {
  font-family: 'Magic School Two';
  src: url('https://www.fontsaddict.com/fontface/magic-school-two.ttf');
}

html {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.5)
    ),
    url('./img/main.jpg');;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

body {
  margin: 0;
  padding: 10px;
  font-family: 'Magic School Two', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



